/*body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

//body{
//    font-family: lato-regular,Arial,Helvetica,sans-serif;
//}
/* Pen Title */
.pen-title {
  padding: 20px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #ed2553;
}
.pen-title span a {
  color: #ed2553;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #4caf50;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
//  bottom: 96px;
//  right: 36px;
  background: #4caf50;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}

/* Container */
/*.container {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}*/
.container.active .card-nav:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container.active .card-nav:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container.active .card-nav.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.container.active .card-nav.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(14);
  transform: scale(15);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.container.active .card-nav.alt .toggle:before {
  content: '';
}
.container.active .card-nav.alt .title,
.container.active .card-nav.alt .input-container,
.container.active .card-nav.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container.active .card-nav.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.container.active .card-nav.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container.active .card-nav.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container.active .card-nav.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.container.active .card-nav.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* Card */
.card-nav {
  position: relative;
  background: black;;
  /*border-radius: 5px;*/
  /*padding: 20px 0 40px 0;*/
  box-sizing: border-box;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Alt Card */
}
.card-nav:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card-nav .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #4caf50;
  margin: 0 0 35px;
  padding: 10px 0 10px 16px;
  color:#4caf50;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.card-nav .input-container {
  position: relative;
  margin: 0 15px 0;
}
.card-nav .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #fff;
 /* font-size: 20px; */
  font-weight: 400;
}
.card-nav .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card-nav .input-container input:focus ~ .bar:before, .card-nav .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card-nav .input-container input:valid ~ label {
  color: white;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card-nav .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 17px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card-nav .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 1px;
}
.card-nav .input-container .bar:before, .card-nav .input-container .bar:after {
  content: '';
  position: absolute;
  background: #4caf50;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card-nav .input-container .bar:before {
  left: 50%;
}
.card-nav .input-container .bar:after {
  right: 50%;
}
//.card-nav .button-container {
//  margin: 0 15px;
//  text-align: center;
//}
.card-nav .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: #4caf50;
  width: 120px;
  border: 2px solid #4caf50;
  padding: 13px 0;
  font-size: 17px;
  //font-weight: 600;
  //line-height: 1;
  //text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card-nav .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card-nav .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #4caf50;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card-nav .button-container button:hover, .card-nav .button-container button:active, .card-nav .button-container button:focus {
  border-color: #4caf50;
  color:white;
}
.card-nav .button-container button:hover span, .card-nav .button-container button:active span, .card-nav .button-container button:focus span {
  color: white;
}
.card-nav .button-container button:active span, .card-nav .button-container button:focus span {
  color: #ffffff;
}
.card-nav .button-container button:active:before, .card-nav .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}

.card-nav.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card-nav.alt .toggle {
  position: relative;
  background: #4caf50;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 42px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}
.card-nav.alt .toggle:before {
  content: '\f067';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card-nav.alt .title,
.card-nav.alt .input-container,
.card-nav.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card-nav.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card-nav.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
//.card-nav.alt .title .close:before {
//  content: '\00d7';
//}
.card-nav.alt .input-container input {
  color: #ffffff;
}
.card-nav.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card-nav.alt .input-container input:focus ~ .bar:before, .card-nav.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card-nav.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card-nav.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card-nav.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card-nav.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card-nav.alt .button-container button span {
  color: #4caf50;
}
.card-nav.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card-nav.alt .button-container button:active:before, .card-nav.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
//.btn-search-text{
//    font-size:17px;
//}
.serch_conatainer{
    background:black;;
}


.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
.button-container button:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.dropdown_room .dropdown-menu{
    left: inherit !important;
    right:0 !important;
}
.mega-dropdown .dropdown-menu{
    border-radius: 4px !important ;
    box-shadow: rgba(0, 0, 0, 0.521569) 0px 3px 15px -6px;
}


.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
//    padding: 20px 0px;
    width: 50%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.btn-lg, .btn-group-lg > .btn{
    font-size: 15px;
}







.btn_adult {
  border-radius: 2px;
  border: 0;
  transition: .2s ease-out;
  color: #fff;
  margin: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn_adult:hover {
  color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn_adult:active, .btn_adult:focus, .btn_adult.active {
  outline: 0;
  color: #fff;
}

/*Link*/
.btn-link {
  background-color: transparent;
  color: #000;
}
.btn-link:hover, .btn-link:focus {
  background-color: transparent;
  color: #000;
}

.adult_counter li,
.child_counter li{
    display: inline-block;
}
#myTable li{
    text-decoration: none;
}
#myTable li:hover{
    cursor:pointer;
}
.button-custom {
  margin: 0 15px;
  text-align: center;
}
.button-custom {
  background: 0;
  border: none;
  padding: 13px 0;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
#myTable ul{
    margin-bottom: 0;
}
.table > tbody > tr > td{
    vertical-align: middle;
}
.font_18{
    font-size: 15px;
}
.select_adult_no{
    background: green;
    color:white;
}
//#adult_selectable_1 .ui-selecting {
//    background: #FECA40;
//}
//#adult_selectable_1 .ui-selected {
//    background: #F39814; color: white;
//}
//#adult_selectable_1 {
//    list-style-type: none;
//}
//
//#child_selectable_1 .ui-selecting {
//    background: #FECA40;
//}
//#child_selectable_1 .ui-selected {
//    background: #F39814; color: white;
//}
//#child_selectable_1 {
//    list-style-type: none;
//}

.adult_counter .ui-selecting {
    background: #FECA40;
}
.adult_counter .ui-selected {
    background: #F39814; color: white;
}
.adult_counter {
    list-style-type: none;
}

.child_counter .ui-selecting {
    background: #FECA40;
}
.child_counter .ui-selected {
    background: #F39814; color: white;
}
.child_counter {
    list-style-type: none;
}

.hotel_feture h2{
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 35px;
    font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
}
.bottom_line .checkinout{
    font-size: 19px;
    font-weight: 700;
}
.price_style{
    color: #d0021b !important;
    font-size: x-large;
    font-weight: 700;
}

.adult_select_box{
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    color: #fff;
    margin: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: transparent;
    color: #000;
    padding: 10px 16px;
    line-height: 1.3333333;
}
.child_select_box{
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    color: #fff;
    margin: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: transparent;
    color: #000;
    padding: 10px 16px;
    line-height: 1.3333333;
}

.pet_select_box{
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    color: #fff;
    margin: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: transparent;
    color: #000;
    padding: 10px 16px;
    line-height: 1.3333333;
}




































































.m0 {
    margin: 0;
}

.find_rooms_form .input-group {
    width: 50%;
}

.main_title{
  color: #48a8d4;
  font-size: 48px;
    font-family: 'Lato', sans-serif;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
}

.alert_room{
  color:#a94442;
  display:none;
}

.warning_sec{
  padding:0px;
}

.btn_book{
  display:none;
  width:80%;
}

.btn_wire{
  display:none;
}

.btn_back{
  width:20%;
  border-right:1px solid white;
}

.select_country{
  height: 20px;
}

.wire_pay{
  display:none;
}

.input-group-addon{
  background: #57beee;
  border: none;
}

.confirm_info{
  border: 1px solid grey;
  border-radius: 5px;
}

.find_rooms_form label {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 7px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.find_rooms_form .form-control {
    padding: 0 22px;
    background: #e5f0fb;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Karla', sans-serif;
    color: #828fa8;
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    height: auto;
    border-radius: 0;
}

.find_rooms_form .submit_btn:hover, .contactForm .find_rooms_form .submit_btn:focus {
    background: #fe824c;
}

.find_rooms_form .submit_btn {
    padding: 0 25px;
    line-height: 50px;
    background: #0186d5;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.find_rooms_form .input-group select{
    height : 50px;
}

.booking_form_section .form-sm {
    width: 700px;
    max-width: 100%;
    margin: 50px auto 50px;
}

.booking_form_section .form-sm .modal-content {
    background: none;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.booking_form_section .form-sm .modal-content button.close {
    opacity: 1;
    text-shadow: none;
    margin-top: 25px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.booking_section_form_2 .title {
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    line-height: 36px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.booking_section_form_2 .form_inputs .input_row {
    background: #57beee;
    border-bottom: 1px solid #48a8d4;
    padding: 22px 30px;
}

.booking_section_form_2 .form_inputs .input_row label {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

.booking_section_form_2 .form_inputs .input_row .form-control{
    padding: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-family: 'Karla', sans-serif;
    color: #347fa2;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    height: auto;
}

.booking_section_form_2 .form_inputs input[type="button"] {
    background: #fe824c;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;
    padding: 0;
    height: auto;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.booking_section_form_2 .form_inputs input[type="submit"] {
    background: #fe824c;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;
    padding: 0;
    height: auto;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#booking_form_section .form-sm .modal-content .booking_section_form_2 .form_inputs input[type="submit"] {
    font-size: 16px;
}

.navbar.navbar2 #main_nav .nav li.book {
    padding: 20px 0;
}

@media (min-width: 768px){
    .navbar-nav>li {
        float: left;
    }
}

.navbar li.book a {
    color: #fff;
    line-height: 48px;
}

.navbar .nav li.book a {
    background: #fe824c;
    padding: 0 25px;
    color: #fff;
    line-height: 48px;
    margin-left: 15px;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    text-shadow: none;
}


div td {
    width:100px;
//    height:100px;
    text-align:center;
    vertical-align:middle;
    border:1px solid #fff;
}

div td.highlighted {
    background-color:#999;
}

#service_tab {
    margin: 60px 0 90px;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
#service_tab li {
    padding: 0 15px;
    text-align: center;
}
@media (min-width: 768px){
    .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%;
    }
}
#service_tab li.active a {
    border-color: #0186d5;
    color: #404d5f;
}
#service_tab li a {
    border: 1px solid #e5f0fb;
    border-radius: 0;
    padding: 0 5px 20px;
    line-height: 1.4;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #657188;
    transition: all 300ms ease-in-out;
}
#service_tab li.active:nth-child(1) a span {
    background-image: url(../../images/icons/service_block/tab/1-w.png);
}
#service_tab li.active a span {
    background-color: #0186d5;
}
#service_tab li a span {
    display: block;
    width: 77px;
    height: 57px;
    margin: -25px auto 20px;
    background: no-repeat scroll center center #e5f0fb;
    transition: all 300ms ease-in-out;
}

.select_object_color{
    background: green;
    color:white;
}

@media only screen and (min-width: 1025px){
    .visible {
    opacity: 1 !important;
    }
}

.book-bar .date-field .date {
    font: 200 22px/80px 'Work Sans';
    color: #FFF;
    letter-spacing: .5px;
}

.book-bar .date-field .tag {
    margin-right: 20px;
    padding: 0 2px 0 8px;
    font: 300 12px/26px 'Work Sans';
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #606060;
    position: relative;
    top: 5px;
    right: 0;
    display: inline-block;
    transition: .2s ease;
}

.book-bar .date-field .tag:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #606060;
    border-width: 13px;
    margin-top: -13px;
    transition: .2s ease;
}

.book-bar .date-field .date .arrival-day, .book-bar .date-field .date .departure-day {
    font-weight: 400;
    letter-spacing: 0;
}

.book-bar .date-field:last-child {
    border-right: 1px solid #606060;
}

.form-control.custom_form_control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background:transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color:white;
}

.field {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 12px;
    background: #606060;
    position: relative;
}

.field input, .form .field select, .form .field textarea {
    width: 100%;
    padding: 17px 15px;
    font: 300 15px 'Work Sans';
    color: #FFF;
    letter-spacing: .2px;
    box-sizing: border-box;
    border: none;
    display: block;
    background: none;
    position: relative;
    z-index: 2;
}

.field.calendar, .form .field.calendar input {
    cursor: pointer;
}

.field .tag {
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 14px;
}

.field .tag i {
    font-size: 17px;
    top: 17px;
    color: #909090 !important;
}

.field.calendar input {
    padding-left: 43px;
    font-weight: 500;
    color: #FFF;
}

.btn-sq-sm {
    width: 100px !important;
    height: 50px !important;
    border : 1px solid #48a8d4;
}

.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
}

.custom_font_white{
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

.white_text{
    color:white;
}

.width_fifty{
    width:50%;
}

.header {
    background: #dc2f34 url('/website_hotel_booking/static/src/img/bg.jpg');
}

.no-padding {
    padding: 0px !important;
}

.cover-background {
    position: relative;
    background-size: cover !important;
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat !important;
}

.input-group[class*="col-"] {
    float: left;
    padding-right: 0;
    padding-left: 0;
}

/*----------------------------------------NEW DESIGN---------------------------------------------*/
.bg_img{
    background: #dc2f34 url('/website_hotel_booking/static/src/img/bg.jpg');
}
.blue_bg_color {
    background: #57beee;
    border-bottom: 1px solid #48a8d4;
    padding:0
}

.blue_bg_color label{
    color:white;
}

.input_custom{
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.border_bottom{
    border-bottom: 1px solid #48a8d4;
    padding: 3% 3% 1%;
}

.blue_bg_color button
{
    width:100%;
    background: #fe824c;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;
    height: auto;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.blue_bg_color button:hover{
    background: #fe824c;
    color: #fff;
}

.form_title{
    color: #48a8d4;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    line-height: 33px;
    font-weight: bold;
    margin: 0;
}

.add-red-tag--ribbon.all-inclusive-ribbon {
    background: #404d5f;
}

.add-red-tag--ribbon {
    position: absolute;
    left: -10px;
    width: auto;
    height: auto;
    padding: 7px 20px 5px;
    background: #e52822;
    -webkit-box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.4);
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.4);
    z-index: 100;
    max-width: 120px;
}

.all-inclusive-ribbon:before {
    border: 5px solid #343f4f;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.add-red-tag--ribbon:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    z-index: -1;
}

.type_tag{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

.back_btn_orange{
  width:20%;
  border-right:1px solid white;
    background: #fe824c;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;
    padding: 0;
    height: auto;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.mega-dropdown .dropdown-menu{
    padding: 0 0;
    margin: -1px 0 0;
}
.confirm_details_form label {
    display: inline-block;
    font-size: 13px;
    color: #9b9b9b;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}
.custom_radio_box label {
    display: inline-block;
    font-size: 13px;
    color: #9b9b9b;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}
.confirm_details_form input{
    background-color: #fff;
    border: 1px solid #d1e2f5;
    box-shadow: inset 0 0 2px 0 #d1e2f5;
    border-radius: 2px;
    height: 40px;
    padding: 0 15px;
}
.custom_radio_box input{
    background-color: #fff;
    border: 1px solid #d1e2f5;
    box-shadow: inset 0 0 2px 0 #d1e2f5;
    border-radius: 2px;
//    height: 40px;
//    padding: 0 15px;
}
.confirm_details_form select  {
    background-color: #fff;
    border: 1px solid #d1e2f5;
    box-shadow: inset 0 0 2px 0 #d1e2f5;
    border-radius: 2px;
    height: 40px;
    padding: 0 15px;
}
.confirm_details_form textarea  {
    background-color: #fff;
    border: 1px solid #d1e2f5;
    box-shadow: inset 0 0 2px 0 #d1e2f5;
    border-radius: 2px;
    height: 40px;
    padding: 0 15px;
}

.append_bottom15 {
    margin-bottom: 15px;
}
.htR-guestLogin-sctn, .htR-paymntOptions-sctn {
//    padding: 0;
}
.htR-guestLogin-sctn {
//    width: 220px;
//    min-height: 55px;
    background-color: #fff;
//    border: 1px solid #e5e5e5;
}
.htR-trvlrInfo label {
    display: inline-block;
    font-size: 11px;
    color: #9b9b9b;

}
.htR-guestLogin-sctn label{
    height: 40px;
}
.choose_method_custom{
    border: 1px solid #d1e2f5;
    box-shadow: inset 0 0 2px 0 #d1e2f5;
}
.htR-guestLogin input[type=radio], .htR-paymntOptions-sctn input[type=radio] {
    height: 100%;
}
.htR-guestLogin input[type=radio], .htR-paymntOptions-sctn input[type=radio] {
    width: 100%;
}
.radio input[type=radio] {
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 2px;
    margin-left: 0;
    cursor: pointer;
}
.radio .outer, .radio input:checked+.outer {
    border: 1px solid #5c9be4;
}
.htR-guestLogin .outer, .htR-paymntOptions-sctn .outer {
    margin-top: 15px;
    margin-left: 15px;
}
.htR-content .outer {
    margin-top: 5px;
    margin-right: 12px;
}
.radio .outer {
    height: 18px;
    width: 18px;
    display: block;
    float: left;
    border-radius: 50%;
    background-color: #fff;
}
.radio input:checked+.outer .inner {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background-color: #5c9be4;
}
.radio .inner {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    height: 8px;
    width: 8px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 4px;
    border-radius: 50%;
    background-color: #2E3092;
    opacity: 0;
}
.htR-guestLogin .labeltext, .htR-paymntOptions-sctn .labeltext {
    height: 55px;
}
.htR-content .labeltext {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
}
.htR-guestLogin .labeltext {
    color: #4a4a4a;
}
.htR-guestLogin-sctn .labeltext {
    margin-left: 30px;
}
.htR-guestLogin-sctn .label-txt {
    font-size: 12px;
}
.lato-semibold {
    font-family: 'lato-semibold',Arial,Helvetica,sans-serif;
}
.block {
    display: block!important;
}
.pay_now_btn{
//    outline: 0;
//    cursor: pointer;
//    position: relative;
//    display: inline-block;
//    background: #4caf50;
//    width: 120px;
//    border: 2px solid #4caf50;
//    padding: 13px 0;
//    font-size: 17px;
//    overflow: hidden;
//    -webkit-transition: .3s ease;
//    transition: .3s ease;
//    color: white;
//    font-weight: bold;
    text-align: center;
    width: 120px;
    font-weight: bold;
    line-height: 55px;
    padding: 0;
    height: auto;
    transition: all 300ms ease-in-out 0s;
    border: 1px solid rgba(160, 160, 160, 0.2);
    outline: 0;
    cursor: pointer;
    position: relative;
    background: #4caf50;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: white;

}
.bottom_line{
    border-bottom: 1px solid lightgray;
}
.summary_detail_all label{
    display: inline-block;
    font-size: 13px;
    color: #9b9b9b;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}

.reg_container{
    background-color: #f1f1f1;
}











/* Testimonials
---------------------------------- */
.testimonial {
    margin: 25px 0;
}
.well .testimonial,
.owl-item .testimonial {
    margin: 0;
}
.testimonial-image {
    max-width: 100px;
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.testimonial-body {
    padding: 15px;
}
.testimonial-image + .testimonial-body {
    margin-left: 114px;
}
.testimonial-info-1 {
    font-size: 13px;
    color: #000;
    font-style: italic;
}
.testimonial-info-2 {
    font-size: 13px;
    color: #000;
    font-weight: 700;
}
.dark-bg .testimonial-info-1,
.dark-bg .testimonial-info-2,
.default-bg .testimonial-info-1,
.default-bg .testimonial-info-2,
.dark-translucent-bg .testimonial-info-1,
.dark-translucent-bg .testimonial-info-2 {
    color: inherit;
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
    .testimonial-image {
        max-width: 80px;
    }
    .testimonial-image + .testimonial-body {
        padding: 0 15px;
        margin-left: 100px;
    }
}







.card-room {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background:white;
}

.card-room {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card-room span.card-room-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
//    text-transform: uppercase;
}

.card-room .card-room-image {
  position: relative;
  overflow: hidden;
}
.card-room .card-room-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
//  position: relative;
  z-index: -1;
}
.card-room .card-room-image span.card-room-title {
//  position: absolute;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
border-radius: 30px;
font-size: 11px;
font-family: lato-regular,Arial,Helvetica,sans-serif;
opacity: 0.9;
color: rgb(0, 0, 0);
padding: 5px 10px;
bottom: 20px;
left: 20px;}
.card-room .card-room-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  padding-bottom:0;
  line-height:1px;
}
.card-room .card-room-content p {
  margin: 0;
  color: inherit;
}
.card-room .card-room-content span.card-room-title {
  line-height: 48px;
}
.card-room .card-room-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  border-right: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card-room .card-room-action a {
    margin-right: 4px;
    transition: color 0.3s ease;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-radius: 30px;
    font-size: 11px;
    font-family: lato-regular,Arial,Helvetica,sans-serif;
    opacity: 0.9;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: 1px solid;
}
.card-room .card-room-action a:hover {
//  color: #ffd8a6;
  text-decoration: none;
}
.card-room-content h4{
    color: #0055b7;
}
.text-right{
    text-align:right;
}
.card__BArea {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(transparent,rgba(0,0,0,.8));
    bottom: 0;
    z-index: 2;
    position: absolute;
}
.c-tags {
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 2;
}
.make_relative {
    position: relative;
    margin-left: 5px;
}
.card-room-desc{
//    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    padding-top: 0;
}
.card-room-desc p{
    font-size: 13px;
    color: black;
}

.price_color{
    color:#d0021b !important;
}

.book_now_btn{
    text-align: center;
    font-weight: bold;
    line-height: 55px;
    padding: 0;
    height: auto;
    transition: all 300ms ease-in-out 0s;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    cursor: pointer;
}

.select_continue{
    width:100%;
    text-align: center;
    font-weight: bold;
    line-height: 55px;
    padding: 0;
    height: auto;
    transition: all 300ms ease-in-out 0s;
    border: 1px solid rgba(160, 160, 160, 0.2);
//    display:none;
    outline: 0;
    cursor: pointer;
    position: relative;
//    display: inline-block;
    background: #4caf50;
    /* width: 120px; */
    /* border: 2px solid #4caf50; */
    /* padding: 13px 0; */
    /* font-size: 17px; */
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: white;
}
.custom_btn_disable {
    pointer-events: none;
    opacity: 0.4;
}



.list-container {
    background-color: #eee;
}
.list-container a:hover{
    text-decoration:none;
}
.list-container {
//    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: auto;
}
.mobileSelect-control.selected {
    background-color: #28a4c9;
    color: #fff;
    background-image: url('/website_hotel_booking/static/src/img/download.png');
}
.mobileSelect-control {
    border-bottom: solid 1px #e1e1e1;
    text-decoration: none;
    background-image: url('/website_hotel_booking/static/src/img/circle.png');
}
.mobileSelect-control {
    display: block;
    padding: 17px 20px;
    padding-left: 40px;
    background-position: 10px center;
    background-repeat: no-repeat;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 150px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 150px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.red.lighten-5 {
    background-color: #FFEBEE !important;
}
.card_worn {
    overflow: hidden;
}
.card_worn {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
.card_worn .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.red-text {
    color: #F44336 !important;
}
.card_worn .card-content p {
    margin: 0;
    color: inherit;
}
#card-alert button {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    font-size: 20px;
}
.red-text {
    color: #F44336 !important;
}


.recent-viewed-header .col-md-12 h3:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    width: 120px;
}

.recent-viewed-header .col-md-12 h3:after {
    background-color: #444;
}

.recent-viewed-header .col-md-12 h3:after {
    left: 50%;
    margin-left: -60px;
}

.recent-viewed-header h3 {
    font-size: 1.3em;
    line-height: 1.25em;
}

h3, .h3 {
    font-size: 24px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #317EAC;
}

a.list-group-item, button.list-group-item {
    color: #555;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.tbl_service_headar > thead{
  background: #4caf50;
  color:#fff;
}


.tbl_header{
    background:#4caf50 !important;
    color:white !important;
    font-size: 18px !important;
}
.tbl_header .btn{
    font-size:18px !important;
    color:white;
}
.main_header_div{
    border: 2px solid #4caf50 !important;
}
.main_header{
    font-size: 30px !important;
    font-weight: bolder !important;
    color:#4caf50 !important;
}
.tbl_service_header,.tbl_membership_header{
/*     font-size: 16px !important;
    font-weight:bold !important; */
    color: #fff !important;
}
.tbl_body{
    background: #F2F2F2 !important;
    padding-top:25px;
    padding-bottom:25px;
}
.basic_txt{
    background:white !important;
    border:none !important;
    padding-left:8px !important;
    margin-top: 1px !important;
    height:25px !important;
    color:#9a9898 !important;
    font-size: 14px !important;
}
.col-hdr{
    color: #757575 !important;
    font-size: 16px !important;
}
.profile_img{
    width:150px;
    height:150px;
    border-radius:100px !important;
    z-index:9 !important;
}
.txt_hidden{
    display:none;
}
.btn_basic_detail_save{
    color:#4caf50 !important;
    background:#E5BE51 !important;
}
.chng_profile_lbl{
    position:absolute !important;
    z-index:5 !important;
}
.tbl_service_body .paging-nav a,.service_detail_tbl .paging-nav a,.tbl_membership_body .paging-nav a{
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: rgba(72, 54, 78, 0.57);
    color: white;
    border-radius: 3px;
}
.tbl_service_body .paging-nav .selected-page,.service_detail_tbl .paging-nav .selected-page,.tbl_membership_body .paging-nav .selected-page{
    background: #4caf50;
    font-weight: bold;
}
.tbl_service_body .paging-nav,.service_detail_tbl .paging-nav,.tbl_membership_body .paging-nav{
    background:rgb(242, 242, 242) !important;
    text-align: right;
    padding: 5px;
}
.tbl_service_body.table-responsive,.service_detail_tbl.table-responsive ,.tbl_membership_body.table-responsive{
    overflow-y: hidden;
}
.tbl_service_body_details{
    padding-top:25px;
    padding-bottom:25px;
}

.booking_info .form-input{
     padding: 10px !important;
}
.booking_info .p.form-label{
     font-size:15px !important;
}
.booking_info label{
    padding-top:5px !important;
}
.table.service_line_record{
    font-size:12px;
}
.service_detail_tbl{
    text-align:center;
    padding-top:10px;
}
#service_line_record thead{
    border-top:2px solid #dddddd;
}
#membership_line_record th,#service_line_record th{
    color:#4caf50 !important;
}
.main_bg{
    margin-top:34px;
    margin-bottom:66px;
}

/*#4caf50*/

/* Custome CSS */
.oe_website_login_container {
	background: darken(@as-light, 5%);
	border:1px solid darken(@as-light, 10%);
	padding: 20px;
	margin: 0px auto !important;
}
